/**
 * Structure
 */

.container
{
    width: 90%;
    margin: auto;
}

.result
{
    text-align: center;
    a
    {
        font-size: 22px;

        text-decoration: none;

        color: #333333;
    }
}
